# Ignore virtual environment directory
venv/

# Ignore Python bytecode compiled files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore .idea
.idea/



# Ignore coverage reports
.coverage
chr_counter_df/coverage



dist
